.game-zone {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../sprites/back.png);
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
}

.player {
    position: absolute;
    width: 100px;
    height: 150px;
    background-image: url(../sprites/player.png);
    background-repeat: no-repeat;
}